<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.satrango">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA_TAKEPICTURE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/circlelogo"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/circlelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Satrango"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.service_provider.provider_dashboard.provider_dashboard.my_bookings.provider_booking_details.review.ProviderRatingReviewScreen"></activity>
        <activity android:name=".ui.service_provider.provider_dashboard.provider_dashboard.my_bookings.provider_booking_details.invoice.ProviderInVoiceScreen" />
        <activity android:name=".ui.service_provider.provider_dashboard.provider_dashboard.my_bookings.provider_booking_details.ProviderBookingDetailsScreen" />
        <activity android:name=".ui.service_provider.provider_dashboard.provider_dashboard.my_bookings.ProviderMyBookingsScreen" />
        <activity android:name=".ui.user.bookings.cancel_booking.UserBookingCancelScreen" />
        <activity android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_edit.MyJobPostEditScreen" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_view.set_goals.SetGoalsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_view.discussion_board.DiscussionBoardScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_view.view_bid_details.ViewBidDetailsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_view.view_bids.ViewBidsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.my_job_post_view.MyJobPostViewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_job_posts.MyJobPostsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.post_job_multi_move.PostJobMultiMoveAddressScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.post_job_multi_move.PostJobMultiMoveDescriptionScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.PostJobAddressScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.attachments.PostJobAttachmentsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.description.PostJobDescriptionScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.PostJobDateTimeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.PostJobTypeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_accounts.transaction_history.TransactionHistoryScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.settings.feedback.FeedBackScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.settings.complaints.ComplaintScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_bookings.UserMyBookingsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.provider_response.ProviderBookingResponseScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.view_booking_details.ViewUserBookingDetailsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.search_service_providers.SortAndFilterServiceProvider"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.user_home_screen.user_location_change.UserLocationSelectionScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.settings.faqs.UserFAQScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.search_service_providers.search_service_provider.SearchServiceProvidersScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.change_address.AddBookingAddressScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.booking_address.BookingAddressScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.booking_date_time.BookingDateAndTimeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.bookings.booking_attachments.BookingAttachmentsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.settings.UserPrivacyPolicyScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.settings.UserSettingsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.search_service_providers.UserSearchViewProfileScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.post_a_job.plans.UserPlanScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.refer_earn.UserReferAndEarn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_accounts.UserMyAccountScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.UserSignUpScreenTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.my_profile.UserProfileScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.drawer_menu.browse_categories.BrowseCategoriesScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.ProviderSignUpSeven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.ProviderSignUpSix"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.provider_sign_up_five.ProviderSignUpFive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.provider_sign_up_four.ProviderSignUpFour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.provider_sign_up_three.ProviderSignUpThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.provider_sign_up_two.ProviderSignUpTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.provider_signup.provider_sign_up_one.ProviderSignUpOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.forgot_password.ForgotPasswordScreenOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.service_provider.provider_dashboard.provider_dashboard.ProviderDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.user_dashboard.UserDashboardScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="satrango.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.UserLoginTypeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.set_password.SetPasswordScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.otp_verification.OTPVerificationScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.TermsAndConditionScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.UserSignUpScreenThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.user_signup.UserSignUpScreenOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.IntroScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.login_screen.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.auth.user_signup.SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".remote.fcm.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBFC4Jgdqm8a7tIeIVEJJL71KEHyuU1V0I" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>